<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">Axelor@123</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/practice</property>
        <property name="hibernate.connection.username">shubh</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="Hibernate_App_In_Gradle.Alien" />
        <mapping class="Hibernate_App_In_Gradle.employee"/>
        <mapping class="Hibernate_App_In_Gradle.regular_emp"/>
        <mapping class="Hibernate_App_In_Gradle.contract_emp"/>
    </session-factory>
</hibernate-configuration>
