<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">abc@123</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/axelor</property>
		<property name="hibernate.connection.username">axelor</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.id.new_generator_mappings">false</property>

		<mapping class="Hibernate_App_In_Gradle.Alien" />
		<mapping class="Hibernate_App_In_Gradle.employee" />
		<mapping class="Hibernate_App_In_Gradle.regular_emp" />
		<mapping class="Hibernate_App_In_Gradle.contract_emp" />
		<mapping class="Hibernate_App_In_Gradle.question" />
		<mapping class="Hibernate_App_In_Gradle.Answer" />
	</session-factory>
</hibernate-configuration>
